@import "_config.scss";
@import "_header.scss";
@import "_contacto.scss";
@import "_footer.scss";
main {
    padding-top: $header-height;
}

main.mainContent {
    .productosSection {
        #linkProductos{
            position: absolute;
            top: 450px;        
        }
        .prodtitle {
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            color: #333;
            padding-bottom: 6px;
            text-align: center;
        }
        .productosContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            align-content: center;

            .card {
                margin: 1rem;
                max-width: 200px;
                .card-img-top {
                    width: 180px;
                    height: auto;
                }
                .card-body {
                }
                .card-text {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                }
            }
        }
    }
}
